<ion-header>
  <ion-toolbar>
    <ion-title>Workflow Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label><strong>Selected Intake: {{intakeId}}</strong></ion-label>
  <br>
  <ion-label>Please select a workflow for this intake:</ion-label>
  <form [formGroup]="form" (ngSubmit)="receive(form.value)">
    <ion-select formControlName="workflowId" [value]="workflows[0]">
      <ion-select-option *ngFor="let workflow of workflows" [value]="workflow">{{workflow.workflowName}}
      </ion-select-option>
    </ion-select>
    <ion-datetime formControlName="startDate" displayFormat="DD-MM-YYYY"
      placeholder="Select Workflow Start Date (DD/MM/YYYY)">
    </ion-datetime>
    <ion-label *ngIf="form.get('startDate')">Expected End Date: {{endDate}}</ion-label>
    <section class="full-width">
      <ion-button type="submit" expand="full" color="secondary" [disabled]="!form.valid">
        Confirm Workflow Assignment
      </ion-button>
    </section>
  </form>
</ion-content>