<ion-header>
  <ion-toolbar>
    <ion-title>Add New Internship Resource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="receive(form.value)">
      <app-file-upload formControlName="file" [progress]="progress" (change)="fileEvent($event)">
      </app-file-upload>

      <ion-label floating>Select the target faculty of this resource:</ion-label>
      <ion-select formControlName="tFaculty" value='All'>
        <ion-select-option value='All'>All</ion-select-option>
        <ion-select-option value='CT'>Computing, Technology & Games Development</ion-select-option>
        <ion-select-option value='EN'>Engineering</ion-select-option>
        <ion-select-option value='BM'>Business, Management, Marketing, Tourism & Media</ion-select-option>
        <ion-select-option value='AB'>Accounting, Banking, Finance and Actuarial</ion-select-option>
      </ion-select>

      <section class="full-width">
        <ion-button type="submit" expand="full" color="secondary" [disabled]="!form.valid ">
          Submit
        </ion-button>
      </section>
    </form>
  </ion-card>
</ion-content>