<ion-header>
  <ion-toolbar class="header-bg">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{formId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="controls else loading">
    <dynamic-form #dynamicForm="dynamicForm" [controls]="controls" [form]="form">
    </dynamic-form>
  </div>
  <section class="full-width" *ngIf="!adminAccess && !isLocked">
    <ion-button expand="full" color="secondary" (click)="submitForm($event)" [disabled]="!form.valid">
      Submit
    </ion-button>
  </section>

  <ng-template #loading>
    <div class="loading">
      Getting Data...
    </div>
  </ng-template>
</ion-content>
<ion-footer>
  &nbsp;&nbsp; *Note: Please resubmit the file if you want to modify the existing submission.
</ion-footer>