<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" [ngClass]="{'menuSmall': !showMenu, 'menuBig': showMenu}">
      <ion-header>
        <ion-toolbar class="new-background-color">
         <ion-title>
            <ion-button *ngIf="showMenu" (click)="showMenu = !showMenu" class="menu-button">
              <ion-icon slot="start" name="close"></ion-icon>
              MENU
            </ion-button>
            <ion-button *ngIf="!showMenu" (click)="showMenu = !showMenu" class="menu-button">
                <ion-icon slot="start" name="menu"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-menu-toggle color="light">
              <ion-menu-button color="light"></ion-menu-button>
            </ion-menu-toggle>
            <ion-item class="menu-item" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon [name]="p.icon"></ion-icon>
              <ion-label *ngIf="showMenu">
                &nbsp;&nbsp;&nbsp; {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>