<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      INTERNSHIP DECLARATION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>--CONSENT DETAILS--</h2>

  <h2>Please input your full name (YOON YEE SENG) in the textbox below to sign the declaration:</h2>
  <ion-textarea rows="1" placeholder="Full name here"></ion-textarea>

  <section class="full-width">
    <ion-button type="submit" expand="full" color="secondary">
      Submit
    </ion-button>
  </section>

</ion-content>
